// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Base Styles ---------------*/
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

::selection {
  background-color:#002393; 
  color: white;
}

#main {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  line-height: 1em;
  text-shadow: 0 1px 0 rgba(0,0,0,.90);
}

html {
}

#clock {
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 700;
font-size: 12vw;
letter-spacing: -3px;
color: white;
position: fixed;
top: 10%;
text-align: center;
width: 100%;

}

#clock a:visited {
  color: #FABB00;
}

#clock a:hover {
  color: #FABB00;
}

#greeting {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 5vw;
  letter-spacing: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
  top: 35%;
}

#quote {
  font: 2vw 'Open Sans Condensed', sans-serif;
  color: white;
  position: fixed;
  top: 60%;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  left: 18%;
}





